body{
    font-size: 15px;
}

img{
    padding-top: 11%;
    padding-left: 40%;
}

#search-bar{
    
    margin: 15px auto ;
    margin-top: 6px;
    border-radius: 17px;
    height: 35px;
    width: 600px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

p{
    display: inline;
    text-align: center;
    margin: 0 auto;
    padding: 2px;
}