body{
    font-size: 12px;
}

img{
    padding-top: 11%;
    padding-left: 40%;
}

#search-bar{
    
    margin: 15px auto ;
    margin-top: 6px;
    border-radius: 17px;
    height: 35px;
    width: 600px;
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/1200px-Vector_search_icon.svg.png), url(https://clipground.com/images/google-mic-icon-clipart-1.jpg);
    background-position: left, right;
    background-repeat: no-repeat, no-repeat;
    background-size: 15px;

}





/*.material-icons{
    
    padding: 25px;
    display: flex;
    justify-content: center;
}*/

a:link{
    text-decoration: none;
}



ul{
    
    padding: 5px;
    margin: 0;
    
    display: flex;
    justify-content: center;
    
    
}

li{
    display: inline;
    padding: 2px;
    margin: 2px;
    
    
   
    
}

#list-1{
    background:#f2f2f2;
    color: grey;
    padding: 7px 12px 7px 12px;
    
}

#list-2{
    background: #f2f2f2;
    color: grey;
    padding: 7px 12px 7px 12px;
    
   
}


/*#search-icon{
    color: grey;
}

#mic-icon{
    color: teal;
    
}*/